.DS_Store
Referenced Packages

.project
.settings

.idea
IlluminatedCloud
*.iml

*.sublime-project

opt
out

.sf
.sfdx
.pmdCache

# Added by Illuminated Cloud
.localdev/
target/
node_modules/
/.illuminatedCloud/
**/tsconfig*.json
**/*.tsbuildinfo
**/graphql.config.yml